.btn-language {
  /* width: 76px;
  height: 76px; */

  /* width: 120px;
  height: 120px;
   */
  /* mix-blend-mode: luminosity; */
  border: 0rem;
  filter: none;
  background: #ffffff;
  border-radius: 15px;
}

.btn-language:hover {
  /* mix-blend-mode: normal; */
  
  filter: drop-shadow(0 0 0.2rem #fff);
}

.list-projects {
  /* width: 300vw;
  height: 700px; */

  background: #FFFFFF;
  border-radius: 15px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/*  
@media (max-width: 1200px) {
 
} */

/*
@media (max-width: 433px) {
  .btn-language {
    width: 86px;
    height: 86px;
  }
} */
/*
@media (max-width: 533px) {
  .btn-language {
    width: 82px;
    height: 82px;
  }
}

@media (max-width: 513px) {
  .btn-language {
    width: 81px;
    height: 81px;
  }
}

@media (max-width: 414px) {
  .btn-language {
    width: 105px;
    height: 105px;
  }
} */


