<div class="container mt-5">
    <div class="row">
        <div class="col-xs cool-sm col-lg m-3">
            <button type="button" class="btn-language m-2">JS</button>
            <button type="button" class="btn-language m-2">PHP</button>
            <button type="button" class="btn-language m-2">TS</button>
            <button type="button" class="btn-language m-2">SASS</button>
            <button type="button" class="btn-language m-2">JAVA</button>
            <button type="button" class="btn-language m-2">KOTLIN</button>
            <button type="button" class="btn-language m-2">PYTHON</button>
            <button type="button" class="btn-language m-2">GO</button>
            <button type="button" class="btn-language m-2">RUBY</button>
            <button type="button" class="btn-language m-2">C++</button>
            <button type="button" class="btn-language m-2">C</button>
            <button type="button" class="btn-language m-2">SQL</button>
            <button type="button" class="btn-language m-2">CSS</button>
            <button type="button" class="btn-language m-2">HTML</button>
            <button type="button" class="btn-language m-2">C#</button>
            <button type="button" class="btn-language m-2">DART</button>
        </div>
        <div class="col-xs cool-sm col-lg list-projects m-2">
            
        </div>
    </div>
</div>