<h1 mat-dialog-title>{{ modal.nombre }}</h1>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="text-center">
            <img style="border: 2px solid; color: black;" src="{{modal.modal.imagen}}" width="900" height="400" >
        </div>
    
        <hr>
    
        <div class="row mb-5">
            <p class="text-break">{{ modal.modal.descripcion }}</p>
        </div>

        <div *ngIf="modal.modal.demo.length > 0" class="row">
            <a href="{{ modal.modal.demo }}" target="_blank" class="btn btn-primary">
                Demo
            </a>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-secondary" mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>